html,
body {
    margin: 0;
    padding: 0;
}

.container {
    background: url("img/table.png");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

button {
    background: yellow;
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
}

#new-deck {
    align-self: start;
    margin-top: 5px;
}
